nav h2, #pagenamePC{
  color: #ffffff;
}

input.swFx{
  border: 1px solid rgba(0,0,0,.25) !important;
}

input.swFx:checked {
  background-color: #FF9800 !important;
  border-color: #FF9800 !important;
}

label.swFx{
  color: white !important;
}

#smPreloader{
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 200px);
  z-index: 1000;
  width: 100px;
  height: 100px;
}

.card-disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.card-disabled > *{
  pointer-events: none;
}

.smCircle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#circle-1 {
  background: #ff000052;
  position: absolute;
  top: 100px;
  left: 60px;
}
#circle-2 {
  background: #ff00008a;
  position: absolute;
  top: 100px;
}
#circle-3 {
  background: #ff000087;
  position: absolute;
  top: 50px;
  left: 30px;
}

@media (min-width: 576px) {
  .nav {
    padding-left: 8px;
  }

}

@media (max-width: 767px) {
  .nav-container {
    position: fixed;
    left: -250px;
    transition: all 0.3s ease-out;
    top: -1px !important;
  }

  nav.navbar {
    display: flex !important;
    z-index: 99;
  }

  #pagenamePC {
    display: none;
  }
}

.sidenav-active {
  left: -1px !important;
  transition: all 0.6s ease-out;
}

.toast {
  z-index: 100;
  margin-right: 20px;
}

.nav-container {
  min-width: fit-content;
  z-index: 100;
}

.nav-shadow {
  -webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.53);
}

.nav {
  width: 100%;
  white-space: nowrap;
}

.logo-wrapper {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.logo-wrapper span {
  padding-left: 6px;
  vertical-align: middle;
}

.app-main-content {
  padding-top: 0px;
}

.cardPadding {
  padding-bottom: 20px;
}

.nav-active {
  background-color: #0000003d;
}

.nav-item span {
  vertical-align: inherit;
}

.nav-item {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-item a {
  border-bottom: white 1px solid !important;
  border-radius: 0 !important;
}

.nav-item:last-child a {
  border-bottom: none !important;
}

#file-input {
  padding: 0;
  border: 1px solid #ddd;
  line-height: 44px;
  text-align: left;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  margin: 10px auto;
  font-size: 15px
}

#bar,
#prgbar {
  background-color: #212529;
  border-radius: 10px
}

#bar {
  background-color: #ffc107;
  width: 0%;
  height: 10px
}

form#upload_form {
  background: #21252900;
  max-width: 408px;
  border-radius: 5px;
  text-align: center
}

h2 {
  text-align: center
}

div#update_info {
  max-width: 55%;
  margin: auto;
  margin-bottom: 25px;
}

div#main {
  margin-left: auto;
  margin-right: auto;
}

table.table > tr {
  line-height: 2em;
}

a.nav-link {
  color: white !important;
}

button.btn {
  --bs-btn-color: #9E9E9E;
  --bs-btn-border-color: #FF9800;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF9800;
  --bs-btn-hover-border-color: #FF9800;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF9800;
  --bs-btn-active-border-color: #FF9800;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FF9800;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FF9800;
  --bs-gradient: none;
}

button.btn-warning {
  --bs-btn-color: #9E9E9E;
  --bs-btn-bg: #9e9e9e00;
}

button.nav-link {
  color: #FF9800;
}

.nav-link:focus, .nav-link:hover {
  color: #FFC107;
}

li.nav-active {
  background-color: #d98200;
}

.form-check-input:checked {
  background-color: #FF9800 !important;
  border-color: #FF9800 !important;
}

.nav-link:focus, .nav-link:hover {
  color: #FFC107 !important;
}

.table {
  --bs-table-color: #cecbcb !important;
}

nav.bg-light {
 background-color: #d98200 !important;
}

div.spinner-border {
  color:  #d98200 !important;
}